<div id="comprar" page="comprar">

    <div class="container wrapping">
        <div class="row">
            <div class="col-md-12">
                <header>
                    <h1>Como Comprar?</h1>
                    <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ultrices ligula at augue elementum, id placerat metus interdum. </h2>
                </header>

                <p>Vivamus lacinia ligula pulvinar vestibulum luctus. Ut quis lorem vel arcu consectetur rhoncus. Vivamus semper ultricies dui id maximus. Nullam vehicula sapien eget ligula mollis, ac sagittis nisl gravida. Proin efficitur iaculis condimentum. Suspendisse eget massa in eros rhoncus feugiat.</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <header>
                    <h1>Entrega Gratuita.</h1>
                    <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ultrices ligula at augue elementum, id placerat metus interdum. </h2>
                </header>

                <p>Vivamus lacinia ligula pulvinar vestibulum luctus. Ut quis lorem vel arcu consectetur rhoncus. Vivamus semper ultricies dui id maximus. Nullam vehicula sapien eget ligula mollis, ac sagittis nisl gravida. Proin efficitur iaculis condimentum. Suspendisse eget massa in eros rhoncus feugiat.</p>
            </div>
        </div>
    </div>

</div>
<!-- /contact -->
