<div id="localizacao" page="localizacao">

    <div class="container wrapping">
        <div class="row">
            <div class="col-md-12">
                <header>
                    <h1>Localização.</h1>
                    <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ultrices ligula at augue elementum, id placerat metus interdum. </h2>
                </header>
            </div>
        </div>
    </div>

    <div class="offline">
        <div class="container wrapping">
            <div class="row">
                <div class="col-md-4">
                    <header>
                        <h3>Rio de Janeiro</h3>
                    </header>

                    <div class="info">
                        <p class="general">Para retirada:</p>
                        <span class="phone">+55 43 0000-000</span>
                        <span class="email"><a href="mailto:email@email.com.br">email@email.com.br</a></span>
                    </div>
                </div>

                <div class="col-md-4">
                    <header>
                        <h3>Outra Localidades</h3>
                    </header>

                    <div class="info">
                        <p class="general">Se você está em outras localidade, entre em contato:</p>
                        <span class="phone">+55 43 0000-000</span>
                        <span class="email"><a href="mailto:email@email.com.br">email@email.com.br</a></span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="maps" ng-style="{ 'background-image' : 'url({{maps.source()}})' }">
        <img src="{{maps.source()}}" alt="">
    </div>

</div>
<!-- /contact -->
