<div id="contato" page="contato">

    <div class="container wrapping">
        <div class="row">
            <div class="col-md-8">
                <header>
                    <h1>Contato.</h1>
                    <h2>Se você tem alguma dúvida e está procurando por assistência, ou apenas quer compartilhar sua experiência com a SaboreAh!, entre em contato:</h2>
                </header>

                <form class="default">
                    <div class="form-group">
                        <label for="contact_name">Nome</label>
                        <input type="text" class="form-control" id="contact_name" name="contact[name]" ng-model="contact.name">
                    </div>

                    <div class="form-group">
                        <label for="contact_email">E-mail</label>
                        <input type="email" class="form-control" id="contact_email" name="contact[email]" ng-model="contact.email">
                    </div>

                    <div class="form-group">
                        <label for="contact_phone">Número de Telefone</label>
                        <input type="text" class="form-control" name="contact[phone]" id="contact_phone" ng-model="contact.phone" ui-br-phone-number>
                    </div>

                    <div class="form-group">
                        <label for="contact_subject">Como podemos ajudar você?</label>
                        <select id="contact_subject" name="contact[subject]" class="form-control" ng-model="contact.subject">
                            <option value="" selected>Por favor, escolha</option>
                            <option value="Produtos">Produtos</option>
                            <option value="Entrega">Entrega</option>
                            <option value="Formas de Pagamento">Formas de Pagamento</option>
                            <option value="Sugestões e Críticas">Sugestões e Críticas</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="contact_message">Mensagem</label>
                        <textarea class="form-control" name="contact[message]" id="contact_message" ng-model="contact.message"></textarea>
                    </div>

                    <div class="form-group actions">
                        <button type="submit" class="btn btn-submit">Enviar E-mail</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>
<!-- /contact -->
