<div id="home" page="home">

    <div class="owl-carousel owl-theme">
        <div id="owl-banner">
            <div class="item" ng-repeat="banner in banners">
                <img src="{{banner.url}}" alt="{{banner.tittle}}" />
            </div>
        </div>
    </div>

    <div class="container wrapping">
        <div class="row select-box">
            <header>
                <h2>Escolha sua caixa:</h2>
            </header>

            <div class="row">
                <div class="size col-md-4">
                    <span ng-click="cart.box(3)" class="box-3">3 Kg</span>
                </div>

                <div class="size col-md-4">
                    <span ng-click="cart.box(5)" class="box-5">5 Kg</span>
                </div>

                <div class="size col-md-4">
                    <span ng-click="cart.box(10)" class="box-10">10 Kg</span>
                </div>
            </div>
        </div>

        <div class="row select-product ng-hide">
            <header>
                <h2>Selecione os bolinhos desejados:</h2>
            </header>
        </div>

        <div class="row list-product ng-hide">
            <form class="product-box default col-md-4">
                <div class="product">
                    <header>
                        <h3>Bolinho de Bacalhau</h3>
                    </header>

                    <figure>
                        <img class="img-responsive" src="assets/images/product-1.jpg" alt="" />
                    </figure>

                    <fieldset>
                        <div class="range-container">
                            <header>
                                <h3>Quantidade selecionada: <span>{{cart.product[0].amount}} kg</span></h3>
                            </header>

                            <div class="slider-container">
                                <!--<div class="range-fill"></div>-->
                                <input class="slider" type="range" min="0" max="{{cart.size}}" step="1" id="product_size_0" name="cart[product][0]" ng-model="cart.product[0].amount" value="0" ng-change="cart.amount(false)" />
                            </div>

                            <div class="label-container">
                                <div class="label" ng-repeat="i in [].constructor(cart.size+1) track by $index" ng-style="{ 'width' : (100/(cart.size+1)) + '%' }">{{$index}} <i>kg</i></div>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </form>

            <form class="product-box default col-md-4">
                <div class="product">
                    <header>
                        <h3>Bolinho de Camarão</h3>
                    </header>

                    <figure>
                        <img class="img-responsive" src="assets/images/product-2.jpg" alt="" />
                    </figure>

                    <fieldset>
                        <div class="range-container">
                            <header>
                                <h3>Quantidade selecionada: <span>{{cart.product[1].amount}} kg</span></h3>
                            </header>

                            <div class="slider-container">
                                <!--<div class="range-fill"></div>-->
                                <input class="slider" type="range" min="0" max="{{cart.size}}" step="1" id="product_size_1" name="cart[product][1]" ng-model="cart.product[1].amount" value="0" ng-change="cart.amount(false)" />
                            </div>

                            <div class="label-container">
                                <div class="label" ng-repeat="i in [].constructor(cart.size+1) track by $index" ng-style="{ 'width' : (100/(cart.size+1)) + '%' }">{{$index}} <i>kg</i></div>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </form>

            <form class="product-box default col-md-4">
                <div class="product">
                    <header>
                        <h3>Bolinho de Provolone</h3>
                    </header>

                    <figure>
                        <img class="img-responsive" src="assets/images/product-3.jpg" alt="" />
                    </figure>

                    <fieldset>
                        <div class="range-container">
                            <header>
                                <h3>Quantidade selecionada: <span>{{cart.product[2].amount}} kg</span></h3>
                            </header>

                            <div class="slider-container">
                                <!--<div class="range-fill"></div>-->
                                <input class="slider" type="range" min="0" max="{{cart.size}}" step="1" id="product_size_2" name="cart[product][2]" ng-model="cart.product[2].amount" value="0" ng-change="cart.amount(false)" />
                            </div>

                            <div class="label-container">
                                <div class="label" ng-repeat="i in [].constructor(cart.size+1) track by $index" ng-style="{ 'width' : (100/(cart.size+1)) + '%' }">{{$index}} <i>kg</i></div>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </form>

            <form class="product-box default col-md-4">
                <div class="product">
                    <header>
                        <h3>Bolinho de 4</h3>
                    </header>

                    <figure>
                        <img class="img-responsive" src="assets/images/product-3.jpg" alt="" />
                    </figure>

                    <fieldset>
                        <div class="range-container">
                            <header>
                                <h3>Quantidade selecionada: <span>{{cart.product[3].amount}} kg</span></h3>
                            </header>

                            <div class="slider-container">
                                <!--<div class="range-fill"></div>-->
                                <input class="slider" type="range" min="0" max="{{cart.size}}" step="1" id="product_size_3" name="cart[product][3]" ng-model="cart.product[3].amount" value="0" ng-change="cart.amount(false)" />
                            </div>

                            <div class="label-container">
                                <div class="label" ng-repeat="i in [].constructor(cart.size+1) track by $index" ng-style="{ 'width' : (100/(cart.size+1)) + '%' }">{{$index}} <i>kg</i></div>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </form>

            <form class="product-box default col-md-4">
                <div class="product">
                    <header>
                        <h3>Bolinho de 5</h3>
                    </header>

                    <figure>
                        <img class="img-responsive" src="assets/images/product-3.jpg" alt="" />
                    </figure>

                    <fieldset>
                        <div class="range-container">
                            <header>
                                <h3>Quantidade selecionada: <span>{{cart.product[4].amount}} kg</span></h3>
                            </header>

                            <div class="slider-container">
                                <!--<div class="range-fill"></div>-->
                                <input class="slider" type="range" min="0" max="{{cart.size}}" step="1" id="product_size_4" name="cart[product][4]" ng-model="cart.product[4].amount" value="0" ng-change="cart.amount(false)" />
                            </div>

                            <div class="label-container">
                                <div class="label" ng-repeat="i in [].constructor(cart.size+1) track by $index" ng-style="{ 'width' : (100/(cart.size+1)) + '%' }">{{$index}} <i>kg</i></div>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </form>

            <form class="product-box default col-md-4">
                <div class="product">
                    <header>
                        <h3>Bolinho de 6</h3>
                    </header>

                    <figure>
                        <img class="img-responsive" src="assets/images/product-3.jpg" alt="" />
                    </figure>

                    <fieldset>
                        <div class="range-container">
                            <header>
                                <h3>Quantidade selecionada: <span>{{cart.product[5].amount}} kg</span></h3>
                            </header>

                            <div class="slider-container">
                                <!--<div class="range-fill"></div>-->
                                <input class="slider" type="range" min="0" max="{{cart.size}}" step="1" id="product_size_5" name="cart[product][5]" ng-model="cart.product[5].amount" value="0" ng-change="cart.amount(false)" />
                            </div>

                            <div class="label-container">
                                <div class="label" ng-repeat="i in [].constructor(cart.size+1) track by $index" ng-style="{ 'width' : (100/(cart.size+1)) + '%' }">{{$index}} <i>kg</i></div>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </form>
        </div>

        <div class="row action-box ng-hide">
            <button type="button" class="btn btn-reset" ng-click="cart.reset()">Cancelar Pedido</button>
            <button type="button" class="btn btn-submit" ng-click="cart.submit()">Adicionar ao Carrinho</button>
        </div>
    </div>

</div>
<!-- /home -->
