//Alert
div.alert-modal {

  header {
    font-family: 'Varela Round', sans-serif;
    margin-bottom: 15px;

    h2 {
      font-size: 26px;
      font-weight: bold;
    }
  }

  p {
    font-size: 18px;
  }
}